@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@-webkit-keyframes floating {
     0% {
         -webkit-transform: rotate(0);
         transform: rotate(0) 
    }
     50% {
         -webkit-transform: rotate(5deg);
         transform: rotate(5deg) 
    }
     to {
         -webkit-transform: rotate(0);
         transform: rotate(0) 
    }
}
:root {
  --main-bg-color: #181719;
  --secondary-bg-color: #26242b;
  --main-border-color: #464545;
  --main-text-color: #fff;
}

:root.dark {
  --main-bg-color: #181719;
  --secondary-bg-color: #26242b;
  --main-border-color: #464545;
  --main-text-color: #fff;
}

@font-face {
  font-family: "Lizard Font";
  src: URL("fonts/lizardfont.woff2") format("woff2");

}

* {

  font-size: 1.2em;
}

body {
  font-family: "Lizard Font";
  font-weight: bold;
  background: radial-gradient(46.13% 46.13% at 50% 69.53%, #6b75d0 0, #232256 100%); 
  color: var(--main-text-color);
}

header {
  font-family: "Lizard Font";
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}
.text{
  font-family: "Lizard Font";
  font-weight: bold;
   font-size: 1.2em;
}
.main-content{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.success .success-good {
  color: green;
}

.success .success-bad {
  color: red;
}

article {
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#signin {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#signin .dot-bricks {
  display: none;
}

#signin[disabled] .text, #signin:disabled .text {
  display: none;
}
#signin[disabled] .dot-bricks, #signin:disabled .dot-bricks {
  display: initial; !important;
}

#nextmeme {
  margin: 8px 0;
  padding: 6px 20px;
}


.hidden {
  display: none;
}
.dot-bricks {
  position: relative;
  top: 8px;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9991px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff, 10007px 0 0 0 #9880ff;
  animation: dotBricks 2s infinite ease;
}

@keyframes dotBricks {
  0% {
    box-shadow: 9991px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff, 10007px 0 0 0 #9880ff;
  }
  8.333% {
    box-shadow: 10007px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff, 10007px 0 0 0 #9880ff;
  }
  16.667% {
    box-shadow: 10007px -16px 0 0 #9880ff, 9991px -16px 0 0 #9880ff, 10007px 0 0 0 #9880ff;
  }
  25% {
    box-shadow: 10007px -16px 0 0 #9880ff, 9991px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff;
  }
  33.333% {
    box-shadow: 10007px 0 0 0 #9880ff, 9991px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff;
  }
  41.667% {
    box-shadow: 10007px 0 0 0 #9880ff, 10007px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff;
  }
  50% {
    box-shadow: 10007px 0 0 0 #9880ff, 10007px -16px 0 0 #9880ff, 9991px -16px 0 0 #9880ff;
  }
  58.333% {
    box-shadow: 9991px 0 0 0 #9880ff, 10007px -16px 0 0 #9880ff, 9991px -16px 0 0 #9880ff;
  }
  66.666% {
    box-shadow: 9991px 0 0 0 #9880ff, 10007px 0 0 0 #9880ff, 9991px -16px 0 0 #9880ff;
  }
  75% {
    box-shadow: 9991px 0 0 0 #9880ff, 10007px 0 0 0 #9880ff, 10007px -16px 0 0 #9880ff;
  }
  83.333% {
    box-shadow: 9991px -16px 0 0 #9880ff, 10007px 0 0 0 #9880ff, 10007px -16px 0 0 #9880ff;
  }
  91.667% {
    box-shadow: 9991px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff, 10007px -16px 0 0 #9880ff;
  }
  100% {
    box-shadow: 9991px -16px 0 0 #9880ff, 9991px 0 0 0 #9880ff, 10007px 0 0 0 #9880ff;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Lizard Font";
  font-weight: bold;
  font-size: 200%;
}

.hidden {
  display: none;
}

.error-popup{
  /* To make the modal window center */
  background-color: var(--main-bg-color);
  box-shadow: 0 0 5000px 5000px rgba(0, 0, 0, 0.92);
  border-radius: 0.5em;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  /* To make the modal content center (additional)*/
  text-align: center;
  width: 50%;
  font-size: 1em;
  }
  


.floating-item {
     position: absolute 
}

.floating-item.item-1 {
     width: 20%;
     left: 5%;
     top: 24%;
     -webkit-animation: floating 10s linear infinite;
     animation: floating 10s linear infinite;
}

.floating-item.item-2 {
     width: 6%;
     left: 27%;
     top: 8% 
}
.floating-item.item-3 {
     width: 16%;
     left: 8%;
     top: 73%;
     -webkit-animation: float 10s linear infinite;
     animation: float 10s linear infinite 
}
.floating-item.item-4 {
     width: 12%;
     right: 5%;
     top: 70%;
     -webkit-animation: floating 5s linear infinite;
     animation: floating 5s linear infinite 
}
.floating-item.item-5 {
     width: 10%;
     right: 15%;
     top: 45%;
     -webkit-animation: light 30s linear infinite;
     animation: light 30s linear infinite 
}
.floating-item.item-6 {
     width: 30%;
     right: 15%;
     top: 10%;
     -webkit-animation: float 10s linear infinite;
     animation: float 10s linear infinite 
}
 

  @media only screen and (max-width: 768px) {
    .error-popup {
      width: 75%;
    }
  }
  
  .footer-center {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  text-align: center;
  left: 50%;
  top: 96%;
  transform: translate(-50%, -50%);
  font-size: .5em;
  
}